
:root{
  --gold:#c9a24d;
  --brown:#3b2a1a;
  --cream:#f7f1e8;
  --dark:#1f1b16;
}

*{margin:0;padding:0;box-sizing:border-box}
body{
  font-family:"Playfair Display",serif;
  background:var(--cream);
  color:var(--dark);
}

/* HEADER */
header{
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
header h1{color:var(--brown)}
.cart-btn{
  background:var(--gold);
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:30px;
  cursor:pointer;
  background-color: brown;
  font-size: 15px;
  box-shadow: 0 0 5px 5px black;
}

/* SEARCH */
.search{
  padding:20px 8%;
;
}
.search input{
  width:100%;
  padding:14px;
  border-radius:30px;
  border:solid 3px brown;
}

/* PRODUCTS */
.products{padding:50px 8%}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:35px;
}
.card{
  background:#fff;
  border-radius:18px;
  overflow:hidden;
  transition:.4s;
  box-shadow: 0 0 5px 8px ;
}
.card:hover{transform:translateY(-10px)}
.card img{width:100%;
    height:220px;
    object-fit:cover;
   box-shadow: 0 0 5px 10px brown;

}
.card-content{text-align:center;padding:25px}
.price{color:var(--gold);font-size:18px;margin:10px 0}
.actions{display:flex;gap:10px;justify-content:center}
.actions button{
  padding:10px 16px;
  border-radius:30px;
  border:none;
  cursor:pointer;
  font-size:13px;
}
.add{background:var(--brown);color:#fff}
.buy{background:var(--gold);color:#fff}

/* CART */
.cart{
  position:fixed;
  top:0;
  right:-100%;
  width:340px;
  height:100%;
  background:#fff;
  padding:20px;
  box-shadow:-10px 0 30px rgba(0,0,0,.2);
  transition:.4s;
  z-index:1000;
  
}
.cart.active{right:0}
.cart h2{color:var(--brown)}
.cart-item{
  display:flex;
  justify-content:space-between;
  margin:12px 0;
}
.cart-item button{
  border:none;
  background:none;
  color:red;
  cursor:pointer;
}
.total{
  margin-top:15px;
  font-weight:bold;
  color:var(--gold);
}
.checkout-btn{
  margin-top:20px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:30px;
  background:var(--gold);
  color:#fff;
  cursor:pointer;
}

/* CHECKOUT */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:2000;
}
.modal-box{
  background:#fff;
  padding:30px;
  border-radius:20px;
  width:90%;
  max-width:380px;
}
.modal-box h3{color:var(--brown)}
.payment{
  margin:20px 0;
}
.payment label{
  display:block;
  margin:10px 0;
  cursor:pointer;
}
.confirm{
  width:100%;
  padding:12px;
  border:none;
  border-radius:30px;
  background:var(--brown);
  color:#fff;
  cursor:pointer;
}

/* SUCCESS */
.success{
  text-align:center;
}
.success h2{color:var(--gold)}
#head{
    background-color:var(--brown);
    color: wheat;
    border-radius: 25px;
}
#chai{
    color: wheat;
}
